

  <main>

    <div class="side-bar Inicio" id="inicio">

        <section id="promociones">
          <h2>PROMOCIONES</h2>
          <p>
            El criterio que hemos seguido a la hora de seleccionar las recetas de nuestros postres fáciles y rápidos es que, desde el punto de vista de la técnica, fuesen sencillas de elaborar y, desde el punto de vista del tiempo, no sobrepasaran los 30 minutos de preparación. No hemos contado los tiempos de horno, ni de reposo, ni de congelación, ya que no conllevan trabajo alguno para nosotros.
          </p>

          <div class="promocion">
            <h3>Postres de {{ mes }}</h3>

            <div class="columnas-50">
              <div class="postre1">
                <h4>postre especial</h4>
                <img src="../../../assets/img/lemon pie.jpg" alt="lemon pie">
                <p>
                  Estos son los postres especiales que tendremos este mes. 
                </p>
                <br>
                <span class="precio">Precio: Bs 99.00</span>
              </div>

              <div class="postre2">
                <h4>Torta de Chocolate</h4>
                <img src="../../../assets/img/torta de chocolate.jpg" alt="torta de chocolate" >
                <p>
                  Una riquisima torta de Chocolate, para los adictos al chocolate.
                </p>
                <br>
                <span class="precio">Precio: Bs 99.00</span>
              </div>
            </div>
            
          </div>

        </section>

        <section id="reposteria">
          <h2>REPOSTERÍA</h2>

          <div class="contenido-reposteria">
          <img src="../../../assets/img/torta de crema-ganash.jpg" alt="torta profesional" class="torta-reposteria">
            <p>
              Cuando no apetece meterse en faena o las tareas reposteras se escapan de nuestra capacidad, pero sigue habiendo muchas ganas de dulce, está la posibilidad de comprar los postres listos para comer, y aqui entramos nosotros, ofreciendote los mejores postres al mejor precio.<br><br>
              La ventaja que tienen los postres listos para consumir es el ahorro de tiempo y energía. Nos evitan todo lo que conlleva la compra de ingredientes, la preparación y las complicaciones que puedan surgir. Quienes busquen un buen postre, en cualquiera de estos está garantizado mucho placer.
              <br>
              Sabemos que el postre no es imprescindible y que la mejor opción siempre será fruta natural, pero también somos humanos y hay ocasiones en las que es difícil resistirse a terminar de comer con algo dulce. A Fridolin, como a todas las cadenas de supermercados, se le podrán criticar muchas cosas, pero nadie puede negar que muchos de sus productos son un éxito, algunos muy saludables, y otros algo más pecaminosos.
              No hay más que preguntar a tu alrededor para comprobar que muchos compañeros, amigos y conocidos reconocen su pasión por el lado más dulce de la compañía valenciana. Si ya admitimos que nos encanta ir a Ikea solo a comprar comida, hoy confesamos cuáles son algunos de nuestros postres de Fridolin favoritos, esos que te solucionan un antojo de dulce al momento sin más complicaciones.
            </p>
          </div>
          
        </section>

        <section id="postre-saludable">
          <h2>POSTRES SALUDABLES</h2>

          <div class="fila-3">
            <div class="columna-33">

              <div class="postreS1">
                  <img src="../../../assets/img/postreS1.jpg" alt="panqueque de avena">

                <div class="postreS-contenido">
                  <h3>Panqueques de avena con frutos</h3>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod perferendis similique, nemo sint voluptatem sit?
                  </p>
                </div>
              </div>

            </div>

            <div class="columna-33">

              <div class="postreS2">
                  <img src="../../../assets/img/postreS2.jpg" alt="batido de chocolate">

                <div class="postreS-contenido">
                  <h3>Batido Super Choc</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo in rerum velit eligendi. Doloremque, necessitatibus?
                  </p>
                </div>
              </div>

            </div>

            <div class="columna-33">

              <div class="postreS3">
                  <img src="../../../assets/img/postreS3.jpg" alt="helado de frutos rojos">

                <div class="postreS-contenido">
                  <h3>Helado de frutos rojos</h3>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum dolor maxime ipsum porro odit cumque.
                  </p>
                </div>
              </div>

            </div>
          </div>
          
        </section>

        
    </div>




  </main>
