*{
  margin: 0;
  box-sizing: border-box;
}

main h2{
  font-size: 40px;
  text-align: center;
  color: #492618;
  font-family: 'Happy Monkey', cursive;
  font-weight: bold;
}

#promociones p{
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
  font-family: 'Happy Monkey', cursive;
}

h3{
  color: #cb9012;
}

.promocion h3{
  font-size: 33px;
  text-align: center;
  font-family: 'Happy Monkey', cursive;
  margin-top: 50px;
}

.precio{
  font-family: 'Happy Monkey', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #492618;
  background-color: burlywood;
  padding: 15px 10px 15px 15px;
  border-radius: 25px;
  border: 2px solid #492618;
}

.columnas-50{
  margin-left: 30px;
  margin-right: 30px;
  display: flex; 
  justify-content: space-between;
  font-family: 'Happy Monkey', cursive;

}

.img{
  width: 80%;
}

.postre1{
  width: 50%;
  text-align: center;
  font-size: 15px;
}

.postre2{
  width: 50%;
  text-align: center;
  font-size: 15px
}

.postre1 img{
  width: 80%;
}

.postre2 img{
  width: 80%;
}

.promocion h4{
  font-size: 23px;
  margin-right: 20px;
  font-family: 'Happy Monkey', cursive;
  color: rgb(203, 151, 18);
}

#reposteria{
  width: 65%;
  margin: 0 20%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
}

.contenido-reposteria img{
  width: 40%;
  float: left;
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.contenido-reposteria p{
  padding: 20px;
  font-size: 15px;
  font-family: 'Happy Monkey', cursive;
}


#postre-saludable{
  width: 100%;
  background-color: rgba(212, 176, 128, 0.512);
  margin-top: 200px;
  padding-bottom: 50px;
}

img{
  width: 30px;
}


.fila-3{
  margin-left: 30px;
  display: flex; 
  justify-content: space-between;
}

.columna-33{
  width: 33.33%;
  text-align: center;
}

.postreS1 img{
  width: 90%;
}

.postreS2 img{
  width: 90%;
}

.postreS3 img{
  width: 90%;
} 

.postreS-contenido{
  padding: 15px;
  text-align: center;
  font-family: 'Happy Monkey', cursive;
}

.postreS-contenido h3{
  padding: 15px;
  font-size: 22px;
}

