
  <header>

    <div class="encabezado">
      <a href="#">
        <img src="../../../assets/img/logoFri.png" alt="logo del lugar" class="logo">
      </a>
      
      <nav class="indice">
        <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
        <a [routerLink]="['productos']" routerLinkActive="active">Productos</a>
        <a [routerLink]="['nosotros']" routerLinkActive="active">Nosotros</a>
        <a [routerLink]="['contactanos']" routerLinkActive="active">Contáctanos</a>
      </nav>

      <a href="#" class="hamb">
        <i class="fa-solid fa-bars"></i>
      </a>
    </div>
    <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
    <div id="captioned-gallery">
      <figure class="slider">
        <figure>
          <img src="../../../assets/img/fondo-dinamico1.jpg" alt>
          <figcaption>Te endulzamos la vida</figcaption>
        </figure>
        <figure>
          <img src="../../../assets/img/fondo-dinamico2.jpg" alt>
          <figcaption>Con los mejores productos, al mejor precio</figcaption>
        </figure>
        <figure>
          <img src="../../../assets/img/fondo-dinamico4.jpg" alt>
          <figcaption>Pensamos en tu salud</figcaption>
        </figure>
        <figure>
          <img src="../../../assets/img/fondo-dinamico5.jpg" alt>
          <figcaption>Con recetas caseras</figcaption>
        </figure>
        <figure>
          <img src="../../../assets/img/fondo-dinamico1.jpg" alt>
          <figcaption>Te endulzamos la vida</figcaption>
        </figure>
      </figure>
    </div>

    <div class="banner">
      
 
    <!-- <div class="texto-banner">
        <span>Te endulzamos la <br>vida</span>
    </div> -->
  </div>

  <div class="wrapper">
    <div class="side-bar">

      <ul>

        <li>
          <a href="#"> <img src="../../../assets/img/logoFri.png" alt="logo"></a>
        </li>
        <li>
          <a href="#inicio" id="link1">
            <span class="item">Inicio</span>
          </a>
        </li>
        <li>
          <a href="#productos" id="link2">
            <span>Productos</span>
          </a>
        </li>
        <li>
          <a href="#nosotros" id="link3">
            <span>Nosotros</span>
          </a>
        </li>
        <li>
          <a href="#quienesSomos" id="link4">
            <span>¿Quiénes somos?</span>
          </a>
        </li>
        <li>
          <a href="#contactanos" id="link5">
            <span>Contáctanos</span>
          </a>
        </li>
        
      </ul>

    </div>
  </div>

  </header>