*{
  margin: 0;
  /* margin-top: -7px;
  margin-left: -4px;
  margin-right: -2px; */
  box-sizing: border-box;
}

.hamb{
  display: none;
}


a{
  text-decoration: none;
  margin: 15px;
  font-size: 22px;
  color: #682F24;
}

.indice{
  margin: 0 auto;
  padding: 35px 0px;
  margin-right: 60px;
}


/*SIDE BAR*/
.wrapper .side-bar{
  background-color: #492618;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  padding-right: 20px;
  visibility: hidden;
}

.wrapper .side-bar ul{
  list-style: none;
  text-decoration: none;
}

.wrapper .side-bar ul li a{
  display: block;
  padding: 13px 30px;
  color: #fdf1e2;
  border-bottom: 1px solid #fdf1e2;
  font-size: 16px;
  position: relative;
}

.wrapper .side-bar ul li a img{
  width: 101%;
}

/*CONTENIDO*/

.encabezado{
  top: 0;
  background-color: #fdf1e2;
  display: flex; 
  justify-content: space-between;
  position: relative;
  padding-right: 20PX;
  width: 100%;
}


.encabezado .logo{
  width: 150px;
}

nav{
  color: #492618;
  font-weight: bold;
  margin-left: 15px;
  display: inline-block;
  font-family: 'Happy Monkey', cursive;
}

.indice{
  width: 80%;
  text-align: right;
}


.banner .texto-banner{
  /* position: absolute; */
  width: 100%;
  text-align: center;
  padding: 100px 0px 100px 0px;
  font-size: 70px;
  color: white;
  font-family: 'Alex Brush', cursive;

  background-image: linear-gradient(to top,rgba(28, 28, 28, 0.44) 0%, rgba(1, 1, 1, 0.418) 100%), url(../../../assets/img/cupcake-chocolate.jpg);
  background-size: 100%;
  background-position-y: top;
}





@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body, figure { 
  margin: 0; 
  background: #101010;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { 
  width: 100%; 
  height: auto;
}

figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: linear-gradient(to top,rgb(28, 28, 28) 0%, rgba(1, 1, 1, 0.418) 100%);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}

