

.primerParte{
  display: flex;
  margin-bottom:50px;
}
 
.column50 {
  padding: 15px;
  font-size: 15px;
  font-family: 'Happy Monkey', cursive;
}

.columnImg{
  width: 30%;
}

.repos{
  margin-top: 20px;
  width: 60%;
  margin-left: 100px;
  margin-bottom: 15px;
  border: 10px solid #cb9712ce;
}

.columnText{
  width: 40%;
  position: relative;
  bottom: 0px;
  margin-top: 70px;

}

.sub{
  color: #492618;
  font-size: 40px;
  font-weight: bolder;
}

.img-nos{
  width: 100%;
}

.imgP{
  width: 100%;
}

.subT{
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  color: #492618;
  margin-bottom: 10px;
  font-family: 'Happy Monkey', cursive;
  font-weight: bold;
}

.img-nos{
  width: 800px;
}

.imgP{
  border-radius: 10px 60px;
  background: #cb9712ce;
  padding: 15px;
  width: 510px;
  margin-left: 70px;
}

.column2{
  width: 100%;
  display: flex;
}

.columnaText{
  width: 60%;
  padding: 25px;
  font-size: 15px;
  font-family: 'Happy Monkey', cursive;
}

.imgTV{
  width: 500px;
  border: 10px solid #cb9712ce;
}

.img-cliente{
  margin: 50px;
  text-align: center;
}

.mision, .vision{
  background-color: #77500cce;
  padding: 30px;

  margin-bottom: 25px;
  border-radius: 25px;
}

h3{
  color: #fff;
  font-size: 25px;
}

.mision, .vision p{
  color: rgb(219, 219, 219);
}

.name{
  margin-left: 115px;
}