<div class="all">
  <div class="titulo">
    <h2>
      Nuestros Cocineros
    </h2>
  </div>
  <div class="primerParte">
    <div class="column50 columnImg">
      <img src="../../../assets/img/repostero1.avif" alt="repostera1" class="repos"><br>
      <span class="name">La Chef Repostera Josefa Villarroel</span>
    </div>

    <div  class="column50 columnText">
      <div class="column">
        <div class="mision">
          <h3>MISIÓN</h3><br>
          <p>
            Nuestra misión es crear productos de pastelería y cafetería de excelencia para satisfacer y realzar momentos especiales.
          </p>
        </div>
        <div class="vision">
          <h3>VISIÓN</h3><br>
          <p>
            Nuestra visión es llegar a ser una cadena internacional de pastelería y cafetería que elabora y comercializa los mejores sabores.
          </p>
        </div>
      </div>
      
    </div>
  </div>

      <div class="side-bar-nosotros" id="nosotros">

        <section class="contenido1">
          <div class="column2 columnaImg">
            <div class="img-nos">
              <img src="../../../assets/img/cupcake-crema.jpg" alt="cupcake crema" class="imgP">
            </div>

            <div class="columnaText">
              <span class="subT">Quienes  Somos</span>
              <br><br>
              <p class="texto">
                Fridolin es la cadena más grande de pastelerías de Bolivia. La empresa está dedicada a la fabricación, elaboración y venta de productos alimenticios, siendo nuestra especialidad la pastelería y cafetería euro-americana. La fusión de sabores europeos y sudamericanos, nos hace únicos en nuestra propuesta en el mercado de Bolivia y el mundo. Se destacan la variedad de sabores de tortas, los postres, los saladitos típicos bolivianos y los cafés en diferentes presentaciones.
              </p>
              <br>
                <p class="texto">
                  Somos una empresa en crecimiento, comprometida en la calidad tanto de productos como de servicios, ofreciendo un menú amplio de productos de la cafetería, pastelería y restaurant.
                </p>
                <br>
                <p class="texto">
                  Fridolin nace un 16 de febrero de 1975. Fue fundada en Santa Cruz de la Sierra - Bolivia, por los esposos Christian Jessen y Maria Pittesser de Jessen.
                </p>
                
            </div>

          </div>
          
        </section>

        <section class="clientes">
          <div class="img-cliente">
            <img src="../../../assets/img/nosotros/depositphotos_329401402-stock-photo-confectioners-with-a-bag-for.jpg" alt="fiesta de cumple" class="imgTV">
          </div>

          <div class="texto">
            <!-- <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus blanditiis perferendis nulla quam? Voluptas, quis. Consectetur, nisi, molestias cupiditate quo odio omnis nulla iusto natus, dicta blanditiis voluptatem eaque officiis?
              Earum error dolorum omnis officia suscipit et ex delectus. Quidem repudiandae magni maxime quia ratione suscipit numquam non dolorum cum delectus. Tempore accusamus atque fugit perspiciatis reiciendis? Ipsa, odio harum!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, porro amet recusandae, explicabo ab, repellendus ullam consequatur tempore provident at veniam inventore distinctio nemo? Sequi inventore possimus obcaecati at voluptas.
            </p> -->
          </div>
        </section>
      </div>

      
</div>