.all{
  margin-bottom: 70%;
}

h3{
  font-size: 27px;
  text-align: center;
  font-family: 'Happy Monkey', cursive;
  color: #492618;
}

/*Tarjeta*/
.tarjetas{
  width: 100%;
  margin: 20PX;
}

.card{
  width: 20%;
  margin: 25px 25px;
  float: left;
  justify-content: space-between;

}

.card img{
  width: 100%;
}

.container{
  padding: 2px 16px;
}

.container .title{
  text-align: center;
  font-size: 10px;
  text-align: center;
  font-family: 'verdana', sans-serif;
  color: #492618;
  font-weight: bold;
}

.btn-ver-mas{
  background-color: #492618;
  border-radius: 10px;
  color: #ffffff;
  border: none;
  padding: 5px 12px;
  font-size: 16px;
  font-family: 'Nanum Brush Script', cursive;
  cursor: pointer;
  margin-left: 20px;
  display: block;
}

.titulo{
  /* background-color: #e1b289d2; */
  padding-bottom: 25px;
}

.precio{
  text-align: center;
  color: #ca8505;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  font-size: 23px;
}