<div class="all">
  <div class="titulo">
    <h2>
      ¡Bienvenido! <br>Tus productos favoritos
    </h2>
    <h3>
      <br>
      Ahora Online
    </h3>
  </div>

  <div class="tarjetas">
      <div class="card" *ngFor="let product of productos; let i = index">
          <img [src]="product.img" alt="product.nombre">
          <button (click)="verProducto(i)" type="button" class="btn-ver-mas">
            <!-- + -->
          </button>
          <div class="container">
            <h4 class="title">
              <b>{{ product.nombre }}</b>
            </h4>
            <p class="precio">{{ product.precio }}</p>
            
          </div>
      </div>
  </div>



</div>
