
/*
Footer
*/
.texto{
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 23px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.sub{
  font-family: 'Happy Monkey', cursive;
  font-size: 35px;
  font-weight: bold; 
  margin: 0px;
}

.columna-25{
  margin: 0 auto;
  width: 30%;
}

.logo{
  text-align: center;
  padding: 50px 0px;
  font-family: 'Alex Brush', cursive;
  font-size: 22px;
  font-weight: bold;
  color: rgba(82, 4, 21, 0.857);
}

footer{
  background-color: #d69212d2;
  color: rgb(106, 44, 8);
  padding-top: 40px;
  height: 330px;
}

footer .logo-footer{
  width: 90%;
}

footer a{
  color: #492618;
}

footer .redes{
  font-size: 45px;
  display: flex;
}

footer .redes a i{
  margin-right:90px;
}

footer ul{
  list-style: none;
}

 footer ul li{
  margin-bottom: 10px;
  margin-left: -40px;
}

.barra-footer{
  background-color: #492618;
  color: rgb(252, 237, 184);
  text-align: center;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}
