

<footer class="seccion">
  <div class="container">
    <div class="row">

      <div class="columna-25 columna-mobile-100 logo">
        <img src="../../../assets/img/logoFri.png" alt="logo de coca cola blanco" class="logo-footer">
        <br>
        La cadena más grande de pastelerías de Bolivia
      </div>

      
      <div class="columna columna-25 columna-mobile-100">
        <h3 class="sub">Datos de contacto</h3>
        <ul class="texto">
          <li><span>Correo:</span><br> abca4835@gmail.com</li>
          <li><span>Telefonos:</span><br> 799-35888 <br>650-60885</li>
          <li><span>Dirección:</span><br> Tres pasos al frente, Av. Carmelo Ortiz <br>Cochabamba - Bolivia</li>
        </ul>
      </div>

      <div class="columna columna-25 columna-mobile-100">
        <h3 class="sub">Redes Sociales</h3>
        <p class="texto">Síguenos en nuestras redes sociales</p>
        <ul class="redes">
          <li>
            <a href="https://es-la.facebook.com/FridolinPasteleriaAustriaca/">
              <i class="fa-brands fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-brands fa-twitter-square"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/fridolin_pasteleria_austriaca/">
              <i class="fa-brands fa-instagram-square"></i>
            </a>
          </li>
        </ul>

      </div>

    </div>

    <div class="barra-footer">
      &copy; Derechos Reservados - {{ anio }}
    </div>
  </div>
</footer>