<div id="contactanos">
  <h2 class="titulo">
    Envianos un mensaje
  </h2>
  <h4 class="sub">
    Estamos para ayudarte
  </h4>

  <div class="botonPF">
    <p>Ir a:</p>
    <button type="button">
      Preguntas Frecuentes    
      <i class="fa-solid fa-angle-down"></i>
    </button>
  </div>
   <div class="container">
      <form [formGroup]="formulario" (ngSubmit)="guardar()">

        <div class="row">
          <div class="col-5">
            <label for="fname" class="lbl">Nombre</label>
          </div>
          <div class="columnder">
            <input 
            type="text"
            id="fname"
            placeholder="Nombre"
            class="txtbox"
            formControlName="nombre"
            [class.is-invalid]="nombreNoValido"
            >
          <small class="text-danger" *ngIf="nombreNoValido">
            Ingrese más de 3 letras
          </small>
          </div>
        </div>
        
        <div class="row">
          <div class="col-5">
            <label for="ftelefono" class="lbl">Teléfono</label>
          </div>
          <div class="columnder">
            <input 
            type="number"
            id="ftelefono"
            placeholder="Teléfono"
            class="txtbox"
            formControlName="telefono"
            [class.is-invalid]="telefonoNoValido"
            >
          <small class="text-danger" *ngIf="telefonoNoValido">
            Ingrese un numero valido
          </small>
          </div>
        </div>

        <div class="row">
          <div class="col-5">
            <label for="fcorreo" class="lbl">
              Correo Electronico
            </label>
          </div>
          <div>
            <input 
            type="text"
            id="fcorreo"
            placeholder="Correo ELectronico"
            class="txtbox"
            formControlName="correo" 
            [class.is-invalid]="correoNoValido"
            >
            <small class="text-danger" *ngIf="correoNoValido">
              Ingrese un email válido
            </small>
          </div>
        </div>
                    
        <div class="row">
          <div class="col-5">
            <label for="fComentario" class="lbl">Comentario</label>
          </div>
          <div>
            <textarea 
            name="comentario"
            id="fComentario"
            cols="30"
            rows="10"
            class="txtbox"
            formControlName="comentario"
            [class.is-invalid]="comentarioNoValido"
            ></textarea>
            <small class="text-danger" *ngIf="comentarioNoValido">
              Por favor escriba un comentario
            </small>
          </div>
        </div>

        <div class="enviar ">
          <button type="submit" class="btn" [disabled]="formulario.invalid">Enviar</button>
        </div>

        <div class="mensajeEnviado agradecimiento">
          {{ mensaje }}
        </div>
      </form>
   </div>

   <div class="bloque">
    <div class="titulo">
      <h2>Preguntas Frecuentes</h2>
      <span class="sub">Preguntas que pueden ser de tu interés</span>
    </div>

    <div class="column33">

      <div class="columna1">
        <i class="fa-solid fa-circle-question"></i> 
        <h3>¿Puedo enviar un pedido como regalo?</h3>
        <p>
          -Así es, al finalizar la compra, tendrás la opción de mandar tu pedido como regalo, ingresando una dedicatoria.
        </p>
      </div>
      <div class="columna1">
        <i class="fa-solid fa-circle-question"></i> 
        <h3>¿Puedo solicitar una franquicia?</h3>
        <p>
          -Si deseas solicitar una franquicia, por favor ponete en contacto con nosotros a: info@fridolin.com.bo.
        </p>
      </div>
      <div class="columna1">
        <i class="fa-solid fa-circle-question"></i> 
        <h3>¿Hasta donde realizan envíos?</h3>
        <p>
          -Ofrecemos tarifas de envíos dependiendo de las zonas, que se detallan al finalizar tu compra. Sin embargo, para envíos fuera del 8vo Anillo, pueden haber recargos extras.
        </p>
      </div>
    </div>

   </div>


  <div class="bloque">
    <h2>Visitanos en</h2>
    <div class="mapa">
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2136.993560856918!2d-66.18246771315809!3d-17.37871611029283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1szonaBike!5e0!3m2!1ses!2sbo!4v1650462242550!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
</div>