.mapa{
  text-align: center;
}

iframe{
  background-color:  #cb9012;
  padding: 5px;
  position: relative;
  width: 70%;
  height: 30vw;
  margin: 20px;
}

/*aaaaaaaaaaaa*/
form{
    /* border-radius: 5px; */
  width: 40%;
  margin-top: 50px;
  background-color: #cb9012;
  border: 5px solid #492618;
  padding: 20px;
  margin: 0 auto;

}

.botonPF{
  text-align: center;
  margin-top: 50px;
  padding: 10px 15px 10px 15px;
  color: #b17d0d;
  font-size: 25px;
  font-weight: bold;
}
.botonPF button{
  padding: 10px 15px 10px 15px;
  background-color: #492618;
  color: #ccc;
  border: none;
  border-radius: 15px;
  font-size: 22px;
}
.fa-solid{
  font-size: 12px;
  margin-left: 7px;
}

.container {
  margin-top: 20px;
  }

.row {
  padding-top: 10px;
}

.col-5 {
  float: left;
  margin-top: 6px;
  width: 50%;
  margin-left: -20px;
}
.lbl {
  text-align: right;
  display: block;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  color: #492618;
  padding: 0.5em 1.5em 0.5em 0;
}

.txtbox {
  width: 42%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}
/* 
.txtbox-2{
  width: 11%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

/* .alinea-btn{
  margin-left: 5%;
} */

  
.enviar{
  margin-left: 50%;
}

.btn {
  width: 50%;
  padding: 12px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #492618;
  color: #ccc;
  border-radius: 15px;
  border: none;
  /* margin-left: 15%; */
}
  
.cmbbox {
  width: 27%;
  padding: 12px;
  border: 1px solid #ccc;
}

.radiobtn {
  margin-top: 1%;
}

.una-linea {
  display:inline-block;
}

/*Validaciones*/
.is-invalid {
  border: 1px solid #ff0000a6;
}
.text-danger {
  display: block;
  font-weight: bold;
  margin-left: 15%;
  padding-top: 2px;
  color: #ff0000a6;
}

.mueve-derecha {
  float: left;
  margin-right: 14px;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.tamano-tabla {
  width: 31.8%;
  height: 5%;
}

.color-cabecera {
  background-color: black;
  color: white;
}
  
.subrayado {
  border-bottom: 1px solid gray;
}
  
.txtbox-table {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
.btn-danger {
  border: none;
  background-color: #bb0f0f;
  color: white;
  padding: 8px;
  cursor: pointer;
}
  
.btn-add {
  border: none;
  background-color: cornflowerblue;
  color: white;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.agradecimiento{
  color: #492618;
  margin-top: 2%;
  margin-left: 15%;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Happy Monkey', cursive;
}

.sub{
  text-align: center;
  display: block;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  color: #492618;
}

/*Preguntas Frecuentes*/
.bloque{
  margin-top: 30px;
  padding: 40px;
}

.columna33{
  width: 100%;
}

.columna1{
  float: left;
  margin-top: 30px;
  width: 33%;
}

.columna1 i{
  color: #cb9012b0;
  font-size: 25px;
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
}

.columna1 h3{
  font-size: 20px;
  color: #492618;
  font-family: 'Happy Monkey', cursive;
  font-weight: 700;
}
.columna1 p{
  color: #514845;
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
  font-family: 'Nunito', sans-serif;;
}