/* You can add global styles to this file, and also import other style files */

*{
  margin: 0px;
}

h2{
  font-size: 40px;
  text-align: center;
  color: #492618;
  font-family: 'Happy Monkey', cursive;
  font-weight: bold;
  padding-top: 30px;
}

